
.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Inputs {
  display: flex;
  border: 2px solid white;
  padding: 10px;
}

.Input {
  width: 100%;
  padding: 3px;
}

.Module-Content {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Module {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  /* background: blue; */
  height: 100%;
}

.All {
  display: flex;
  width: 100%;
  height: 100%;
}

.Row {
  display: flex;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1000px) {

  .Row {
    width: 100%;
    height: 50%;
  }

  /* .Module {
    background: yellow;
  } */

  .All {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .Inputs {
    flex-direction: column;
  }

  .Module {
    width: 100%;
    /* background: red; */
  }

  .Row {
    flex-direction: column;
  }
}